.select-block {
    position: relative;
}

.select-block +.select-block {
    margin-top: 1.4rem;
    /*Every input block that comes AFTER the first receives this style*/
}

.select-block label {
    font-size: 1.5rem;
}

.select-block select {
    /*remember that I've setted a SELECT not a INPUT since SELECT is the adequate option, though toilsome to set*/
    
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 1rem;
    background: var(--color-input-background);
    border: 5px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.2rem;
    font: 1.6rem Archivo;

}

.select-block:focus-within::after {
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background: var(--color-primary-light);
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
    /*shows a very little bar at the bottom*/
}